/*Estilos para el primer div con clase "box".*/
#one {
    background-color: red;
    color: white;
    overflow: hidden; /*Oculta el contenido que sobrepase los límites del div.*/
    display: inline-block; /*Hace que el div se muestre en línea con otros elementos.*/
    position: relative; /*Permite posicionar el contenido dentro del div utilizando coordenadas.*/
    top: 300px;
    left: 300px;
  }
  
  /*Estilos para el segundo div con clase "box". */
  #two {
    background-color: green;
    color: white;
    overflow: scroll; /*Agrega barras de desplazamiento al contenido que sobrepase los límites del div.*/
    display: block; /*Hace que el div se muestre en un bloque independiente.*/
    position: absolute; /*Permite posicionar el contenido dentro del div con respecto a su elemento padre.*/
    top: 300px;
    left: 200px;
  }
  
  /*Estilos para el tercer div con clase "box".*/
  #three {
    background-color: blue;
    color: white;
    overflow: auto; /*Agrega barras de desplazamiento solo si es necesario.*/
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 300px;
  }
  
  /*Estilos para el cuarto div con clase "box".*/
  #four {
    background-color: orange;
    color: white;
    overflow: visible; /*Permite que el contenido sobrepase los límites del div.*/
    display: block;
    position: static; /*Posicionamiento por defecto. No necesita propiedades de posición.*/
  }
  